.projects-section .card{
    transition: .7s;
}
.projects-section .card:hover{
    transform: scale(1.1);
}
.projects-section .card img{
    border-radius: 20px !important;
}
.projects-section .card .project-date{
    color: #777;
}

.btn-container-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-project {
  padding: 1.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #ec0a74;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn-project:hover{
  background-color: transparent;
    color:#ec0a74;
}
